@model GoogleSmtpFluentEmailRazorPage.Models.InviteConfig

<h1>Hello @Model.Name @Model.Surname @Model.Patronymic</h1>
<b>Email: @Model.Email</b>
<b>Password: @Model.Password</b>
<a href="@Model.Link">Link</a>
<p>Deadline: @Model.DeadlineOfToken</p>
<p>PhoneNumber: @Model.PhoneNumber</p>